Screen {
}

#pb {
    height: 6;
    align: center middle;
    width: 100%;
}

#pb .bar--bar {
    background: #666666;
}

#lbl1 {
    align: center top;
    padding: 0 1;
    border: #009999;
    border-title-color: #ffff00;
}

.working {
    color: #cccccc;
}

.done {
    color: #ff0000;
}
