#pbContainer {
    padding-top: 2;
    padding-bottom: 2;
    layout: horizontal;
    overflow-x: auto;
}

#pb {
    align: center middle;
}

#pbLabel {
    padding-right: 1;
}

#pb .bar--bar {
    background: #666666;
}

#lbl1 {
    align: center top;
    padding: 0 1;
    border: #009999;
    border-title-color: #ffff00;
    min-width: 20;
    overflow-x: auto;
}

.working {
    color: #cccccc;
}

.done {
    color: #006666;
}
